nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: url("/images/bg_map.png") fixed no-repeat center center / cover,
    rgba(0, 0, 0, 0) linear-gradient(135deg, #584bfb 0%, #45aafd 99%) repeat
      scroll 0 0;
  animation: nav__appear 0.4s ease-out 1;
  z-index: 2;
}

.nav__onScroll {
  display: none;
  background: white;
  animation: nav__appear 0.4s ease-out 1;
}

/* Nav Icons */
nav i {
  font-size: 20px;
  color: white;
  margin-left: 5px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.nav__onScroll i {
  color: #46a2fd;
}

/* Nav Links */
.nav__link {
  color: white;
  height: 70px;
  font-size: 15px;
  font-weight: bold;
  padding: 30px 10px;
  white-space: nowrap;
  transition: all 0.5s;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.nav__onScroll .nav__link {
  color: #46a2fd;
}

.nav__activeLink {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid white;
}

.nav__onScroll .nav__activeLink {
  border-bottom: 4px solid #46a2fd;
}

.nav__link:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.nav__activeLink:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.nav__mid .fa-bell:hover {
  animation: nav__bell 0.3s linear infinite;
}

/* Nav Left */
.nav__left {
  height: 70px;
  width: 400px;
  background: url("/images/irc_logo.png") no-repeat center center / contain;
  margin-left: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

.nav__onScroll .nav__left {
  background: url("/images/irc_logo2.png") no-repeat center center / contain;
}

/* Nav Mid */
.nav__mid {
  height: 70px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

/* Nav Right (no hover effects required by touch devices) */
.nav__right {
  height: 70px;
  display: none;
  align-items: center;
  margin-right: 10px;
}

.nav__right i {
  font-size: 25px;
}

/* Nav Dropdown */
.nav__dropdown {
  position: fixed;
  top: 55px;
  right: 30px;
  background-color: white;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  transition: all 0.5s;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: dropdown__appear 0.5s ease-out 1 forwards;
  z-index: 2;
}

.nav__dropdownOnScroll {
  background-color: #45aafd;
}

.nav__dropdownOnScroll .nav__menuItem,
.nav__dropdownOnScroll .nav__menuItem i {
  color: white;
}

.nav__menuItem {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  padding: 10px;
  padding-right: 50px;
  white-space: nowrap;
}

.nav__activeMenuItem {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__menuItem > i {
  font-size: 20px;
  color: grey;
  margin: 0;
  margin-right: 10px;
}

/* Animations */
@keyframes nav__appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes nav__disappear {
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes dropdown__appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown__disappear {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes nav__bell {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-10deg);
  }
}

/* Media queries */

@media only screen and (max-width: 1100px) {
  .nav__left {
    width: 100px;
    background: url("/images/irc_logo_res.png") no-repeat center center /
      contain;
    margin-left: 20px;
  }
  .nav__onScroll .nav__left {
    background: url("/images/irc_logo_res2.png") no-repeat center center /
      contain;
  }
}

@media only screen and (max-width: 800px) {
  .nav__mid {
    display: none;
  }
  .nav__right {
    display: flex;
  }
}
