section {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  background-color: white;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

section > h1 {
  color: #545454;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

section > h1 > i {
  font-size: 28px;
  margin: 0 15px;
}

@media only screen and (max-width: 360px) {
  section > h1 {
    font-size: 30px;
  }
  section > h1 > i {
    font-size: 25px;
  }
}

@media only screen and (max-width: 320px) {
  section > h1 {
    font-size: 25px;
  }
  section > h1 > i {
    font-size: 22px;
  }
}

@media only screen and (max-width: 270px) {
  section > h1 > i {
    display: none !important;
  }
}
